.assignment-card {
  border: 1px solid #000;
  border-radius: 15px;
  margin: 5px;
}

.assignment-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 5px 15px 5px;
}

.assignment-body{
  padding: 5px 15px 5px;
  text-align: left;
}

.assignment-body-dueDate{
  color: grey;
  font-style: italic;
}

.assignment-body-description{

}

.dropdown button{
  position: relative;
  display: inline-block;
  padding: 5px;
  width: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  text-decoration: none;
  display: block;
  padding: 5px;
  width: 50px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}